.TipBox {
      background-color: #FFFFCC;
      }

.Bold {
      font-weight: bold;
      }

.RedGray {
      background-color: rgb(233, 230, 230);
      
      color: red;
      }

a:link {
      color: aqua;
      background-color: transparent;
      text-decoration: none;
}

a:visited{
      color: gray;
      background-color: transparent;
      text-decoration: overline;
}

a:hover{
      color: crimson;
      background-color: transparent;
      text-decoration: wave;
}

a:active{
      color:yellowgreen;
      background-color: transparent;
      text-decoration: underline;
}

.Ex {
      color: royalblue;
}

#APLE {
      width: 450;
      height: 675;
}

table {
      border-collapse: collapse;
      width: 50%;
}

td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
}

tr:nth-child(even) {
      background-color: #dddddd;
}